*.jsexe
*.hi
*.o
*_hi
*_o
bin
.stack-work/*
.stack-work
static/
.DS_Store
*~
server/staticWebContent/Dirt
estuaryWebSocket
estuaryWebSocket.exe
*node_modules*
renderTidal
renderTidal.exe
estuaryServer
