estuary-client.tgz
closure-compiler.jar
Estuary.db
*.lkshf
*.jsexe
*.hi
*.o
*_hi
*_o
bin
.stack-work/*
.stack-work
.stack-work-production/
static/
.DS_Store
*~
EstuaryServer/EstuaryServer
EstuaryServer/EstuaryServer.exe

**/.stack-work/**/*
**/.stack-work-*/**/*
**/node_modules/**/*
**/*.cabal
