body {
	font-family: 'Helvetica';
	background-color: black;
	color: rgb(98, 221, 115);
	height: 100%;
	margin: 0;
}

/*styles the code text*/
.code-text {
	  font-family: 'Helvetica';
		color: rgb(98, 221, 115);
		font-size: 100%;
}

/*styles the chat/terminal and the coding-language dropdown menus*/
.other-text {
	font-family: 'Helvetica';
	color: rgb(98, 221, 115);
	font-size: 100%;
}

/*styles all Estuary buttons */
button {
	background-color: hsl(0,0%,20%);
	color: rgb(98, 221, 115);
	border: none;
	border-radius: 4px;
}

.reference-button button {
	background-color: transparent;
}

/*styles the header dropdown menus and checkboxes*/
.header-dropdown-and-checkbox  {
	cursor: pointer;
	background-color: black;
	color: rgb(98, 221, 115);
	border: 1px solid rgb(98, 221, 115);
}


/* name-tag textarea */
.name-tag-textarea {
	background-color: transparent;
	flex:1;
	border: none;
}

/*styles the coding language dropdown menu*/
.coding-language-dropdown {
	cursor: pointer;
	background-color: black;
	color: rgb(98, 221, 115);
	border: 1px solid rgb(98, 221, 115);
}

/* styles the coding textarea*/
.coding-textarea {
	background-color: transparent;
	border: none;
}

/* styles the chat textarea*/
.chat-textarea { /*modifies the terminal text area (source)*/
	border: none;
	background-color: transparent;
}

/* styles the sequencer textarea*/
.sequencer-textarea input{
	background-color: transparent;
	border: 2pt solid grey;
	border-radius: 5px;
	color: rgb(98, 221, 115);
}

/* styles the sequencer pads */
.sequencer-pads {
	border:1pt solid grey;
	border-radius: 5px;
}

/* sets the color for the pads when hovering on */
.sequencer-pads:hover {
	background-color: hsl(0,0%,20%);
}

/* sets the color for the pads when activated */
.sequencer-pads-activated{
	border:1pt solid grey;
	border-radius: 5px;
	background-color: rgba(0,255,0,0.3);
}

/* sets the color for the active pads when hovering on */
.sequencer-pads-activated:hover{
	border:1pt solid grey;
	border-radius: 5px;
	background-color: rgba(0,255,0,0.4);
}
