:root {
/* sets the background color */
  --background-color: lightgray;

/* set the color of all text and typically some borders*/
  --primary-color: black;

/* sets the background color of buttons and other borders */
  --secondary-color: hsl(0,0%,0%);

/* sets the color of things that appear temporarily */
  --transient-color: orange;
}


  /*styles the background */
.background {
    background-color: var(--background-color);
	  }

/*styles the code font*/
.code-font {
	  font-family: 'Helvetica';
	  font-size:1em;
	  }

/* styles the fonts for the header, menus and labels */
.ui-font {
	font-family: 'Helvetica';
	font-size: 1em;
	}

/* styles the user-interface buttons */
.ui-buttons {
  color:white;
  background-color:var(--secondary-color);
}

/* styles the primary borders (e.g. from dropdown menus)*/
.primary-borders {
	border-radius: 5px;
    border: 1px solid var(--primary-color);
}

/*styles other borders (e.g. from ui buttons and sequencer buttons)  */
.other-borders {
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    }
