/*
--------------------------------------------------------------------
Welcome to the 'grayscale' theme template: For quick Estuary's interface customization, modify the colors below.
More advanced customization is available through CSS classes within this document.
--------------------------------------------------------------------
*/

:root {
/* sets the background color */
  --background-color:  #9E9E9E;

/* set the color of all text and typically some borders*/
  --primary-color:   #0e0e0e;
;

/* sets the background color of buttons and other borders */
  --secondary-color: hsl(0, 3%, 70%);

/* sets the color of things that appear temporarily */
  --transient-color: orange;
}

/*
--------------------------------------------------------------------
				advanced customization
--------------------------------------------------------------------
*/

  /*styles the background */
.background {
    background-color: var(--background-color);
	  }

/*styles the code font*/
.code-font {
	  font-family: 'Helvetica';
    font-size: 1em;
	  }


/* styles the fonts for the header, menus and labels */
.ui-font {
	font-family: 'Helvetica';
  font-size: 1em;
	}

/* styles the user-interface buttons */
.ui-buttons {
  color: var(--primary-color);
  background-color:rgba(0,0,0,0.12);
  cursor:pointer;
}

/* styles the dropdown */
.ui-dropdownMenus{
	background-color: transparent;
}

.ui-dropdownMenus:focus {
  background-color: var(--background-color) !important;
}

/* styles the primary borders (e.g. from dropdown menus)*/
.primary-borders {
	border-radius: 5px;
    border: 1px solid black;
}

/*styles other borders (e.g. from ui buttons and sequencer buttons)  */
.other-borders {
    border-radius: 5px;
    border: 1px solid black;
    }
