:root {
/* sets the background color */
  --background-color: lightgray;

/* set the color of all text and typically some borders*/
  --primary-color: black;

/* sets the background color of buttons and other borders */
  --secondary-color: hsl(0,0%,40%);

/* sets the color of things that appear temporarily */
  --transient-color: orange;
}


/*styles the code font*/
button, .code-font {
	  font-family: 'Helvetica';
	  font-size:0.80em;
	  }

/* styles the fonts for the header, menus and labels */
select, .ui-font {
	font-family: 'Helvetica';
	font-size: 1em;
	}
