:root {
/* sets the background color */
  --background-color: lightgray;

/*set the color of all text and borders*/
  --foreground-color: black;

/*sets the primary borders */
  --foreground-border: 1pt solid black;

/* sets the color of the sequencer buttons when hovering over  */
  --secondary-color: hsl(0,0%,20%);

/*sets the button background color*/
  --transient-color: transparent;

/* sets the fainted border color   */
  --transient-border: 1pt solid hsl(0,0%,20%);

/*sets the border radius  */
  --border-radius: 5px;

/*sets the primary font family */
  --font: 'Helvetica';

/*sets the code font size  */
  --code-font: 0.85em;

/* sets the header font size */
  --big-font: 1em;

/* sets the information text size  */
  --small-font: 0.65em;
}
