:root {
/* sets the background color */
  --background-color: rgb(98, 221, 115);;

/* set the color of all text and typically some borders*/
  --primary-color: black;

/* sets the background color of buttons and other borders */
  --secondary-color: hsl(0,0%,40%);

/* sets the color of things that appear temporarily */
  --transient-color: orange;
}


/*styles the code font*/
.code-font {
	  font-family: 'Helvetica';
	  font-size:0.80em;
	  }

/* styles the fonts for the header, menus and labels */
.ui-font {
	font-family: 'Helvetica';
	font-size: 1em;
	}

  /*styles the background */
.background {
    background-color: var(--background-color);
	background-image:  linear-gradient(to bottom right, rgb(98, 221, 115), rgb(98, 205, 115));
	  }

/* styles the user-interface buttons */
.ui-buttons {
  color:var(--background-color);
  background-color:var(--secondary-color);
  border-radius: 5px;
  border: none;
}
