:root {
/* sets the background color */
  --background-color: rgb(98, 221, 115);

/*set the color of all text and borders*/
  --foreground-color: black;

/* sets a background color gradient */
  --background-gradient:  linear-gradient(to bottom right, rgb(98, 221, 115), rgb(98, 205, 115));


/*sets the primary borders */
  --foreground-border: 1pt solid;

/* sets the color of the sequencer buttons when hovering over  */
  --secondary-color: hsl(0,0%,20%);

/*sets the button background color*/
  --transient-color: transparent;

/* sets the fainted border color   */
  --transient-border: 1pt solid  ;

/*sets the border radius  */
  --border-radius: 5px;

/*sets the primary font family */
  --font: 'Helvetica';

/*sets the code font size  */
  --code-font: 0.85em;

/* sets the header font size */
  --big-font: 1em;

/* sets the information text size  */
  --small-font: 0.65em;
}
