<!DOCTYPE html>
<html>
<head>
  <link defer href="../css-custom/classic.css" rel="stylesheet" type="text/css" id="estuary-current-theme"/>
  <link defer href="../css-source/source.css" rel="stylesheet" type="text/css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script defer type="text/javascript" src="EstuaryProtocol.js"></script>
  <script defer type="text/javascript" src="SuperDirt.js"></script>
  <script defer type="text/javascript" src="WebDirt/WebDirt.js"></script>
  <script defer type="text/javascript" src="WebDirt/Graph.js"></script>
  <script defer type="text/javascript" src="WebDirt/SampleBank.js"></script>

#ifdef PRODUCTION
  <script defer type="text/javascript" src="all.min.js"></script>
#else
  <script defer type="text/javascript" src="rts.js"></script>
  <script defer type="text/javascript" src="lib.js"></script>
  <script defer type="text/javascript" src="out.js"></script>
  <script defer type="text/javascript" src="runmain.js"></script>
#endif

#ifndef TEST
  <style type="text/css">
    .full-screen {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
    }

    .estuary-logo {
      background-color: black;
      display: flex;
    }

    .estuary-icon-display {
      margin: auto;
      max-width: 100%;
      max-height: 100%;
      z-index: 10;
      position: relative; /* must be positioned so that z-index has an effect. */
    }

    div#estuary-splash {
      opacity: 1;
      transition: opacity 3s ease-out;
    }

    div#estuary-splash.loaded {
      opacity: 0;
      pointer-events: none;
    }
  </style>
  <script type="text/javascript" src="estuary-icon.js"></script>
#endif
</head>
<body>
  <div id="estuary-root"></div>
#ifndef TEST
  <div id="estuary-splash" class="estuary-logo full-screen"></div>
  <script type="text/javascript">
    var EstuaryIcon = (function() {
      var container = document.querySelector('#estuary-splash');

      var icons = new EstuaryIcons(800, 800, {
        linesPerSec: 15,
        secUntilFullRadius: 10
      });
      var display = icons.addDisplay();
      container.appendChild(display.canvas);

      icons.startRendering();

      return {
        display: display,
        renderer: icons
      };
    })();
  </script>
#endif
</body>
</html>
