<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>

  <link rel="apple-touch-icon" sizes="180x180" href="/icons/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon/favicon-16x16.png">
  <link rel="manifest" href="/icons/favicon/site.webmanifest">
  <link rel="mask-icon" href="/icons/favicon/safari-pinned-tab.svg" color="#62dd73">
  <link rel="shortcut icon" href="/icons/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-config" content="/icons/favicon/browserconfig.xml">
  <meta name="theme-color" content="#62dd73">

  <title>Estuary</title>

  <link href="../css-custom/classic.css" rel="stylesheet" type="text/css" id="estuary-current-theme"/>
  <link href="../css-source/source.css" rel="stylesheet" type="text/css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

#ifndef TEST
  <style type="text/css">
    .full-screen {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
    }

    .estuary-logo {
      background-color: black;
      display: flex;
    }

    .estuary-icon-display.center-screen {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: fixed;
    }

    .estuary-icon-display {
      margin: auto;
      max-width: 100%;
      max-height: 100%;
      z-index: 10;
      position: relative;
    }

    div#estuary-splash {
      opacity: 1;
      transition: opacity 1s ease-out;
    }

    div#estuary-splash.loaded {
      cursor: pointer;
    }

    div#estuary-splash.started {
      opacity: 0;
      pointer-events: none;
    }

    div#estuary-splash .info {
      padding: 5vh 5vw;
      z-index: 20;
      position: fixed;
      color: rgb(98, 221, 115); /* estuary green */
      font-family: 'estuaryFont';
    }

    div#estuary-splash .info .title {
      font-size: 7vh;
      margin-bottom: 0;
    }

    div#estuary-splash .info .status {
      font-size: 3vh;
      margin-top: 0.5em;
      padding: 0 1em;
    }

    div#estuary-splash.started .info {
      display: none;
    }
  </style>
#endif
</head>
<body>
  <script src="./WebDirt/WebDirt-packed.js"></script>
  <script src="https://dktr0.github.io/LocoMotion/threejs/three.min.js"></script>
  <script src="https://dktr0.github.io/LocoMotion/threejs/GLTFLoader.js"></script>
  <script src="https://dktr0.github.io/LocoMotion/threejs/DRACOLoader.js"></script>
  <script src="https://jac307.github.io/TransMit/OBJLoader.js"></script>
  <script src="https://jac307.github.io/TransMit/MTLLoader.js"></script>
  <script src="./SuperDirt.js"></script>
  <script src="./hydra-synth.js"></script>
  <script src="./peg-0.10.0.min.js"></script>
  <script src="https://afrancob.github.io/timekNot/timekNot.js" type="module"></script>
  <script>
  // this is necessary to get around GHCJS sometimes refusing to compile "import"
  function importExoLang(path) {
    return import(path);
  }
  </script>
  <div id="estuary-root"></div>
  <script type="text/javascript">

function fatalError(m) {
  var e = document.getElementById("estuary-root");
  e.innerHTML = m;
  console.log(m);
}

function loadJavascript(url, successCallback, failureCallback){
  var script = document.createElement("script")
  script.type = "text/javascript";
  document.getElementsByTagName("head")[0].appendChild(script);
  script.onload = function() { successCallback(); }
  script.onerror = function() { failureCallback(); }
  script.src = url;
}

function loadJavascript(urls,totalAttempts,remainingAttempts) {
  if(urls.length == 0) {
    console.log("loading of Javascript dependencies completed");
    return;
  }
  var url = urls[0];
  var script = document.createElement("script")
  script.type = "text/javascript";
  document.getElementsByTagName("head")[0].appendChild(script);
  script.onload = function() {
    console.log("loaded " + url);
    loadJavascript(urls.slice(1),totalAttempts,totalAttempts);
  };
  script.onerror = function() {
    if(remainingAttempts > 1) {
      console.log("failed to load " + url + " (retrying, " + (remainingAttempts-1) + " attempts left)...");
      loadJavascript(urls,totalAttempts,remainingAttempts-1);
    }
    else {
      fatalError("fatal error loading Estuary: failed in last attempt to load " + url + " - This could be caused by network problems and delays, or problems in the configuration of the Estuary server itself. If trying to reload a few times does not resolve the problem, please feel encouraged to ask for help on the Estuary Google group or the #estuary channel at chat.toplap.org.");
    }
  };
  script.src=url;
}

function checkForAudioWorklets() {
  var tempAc = new AudioContext();
  if(!('audioWorklet' in tempAc)) {
    fatalError("fatal error loading Estuary: your web browser does not support audio worklets. Recommendation: Use Chrome or Chromium instead.");
    return false;
  }
  console.log("browser has audio worklets - great!");
  return true;
}

function checkForWebGL() {
  var tempCanvas = document.createElement("canvas");
  var tempGl = tempCanvas.getContext("webgl");
  if(tempGl && tempGl instanceof WebGLRenderingContext) {
    console.log("browser supports WebGL - great!");
    return true;
  }
  fatalError("fatal error loading Estuary: your web browser does not support WebGL. Recommendation: Use a recent version of Chrome or Chromium. If you are using Linux, especially, this problem can also be caused by misconfigured video drivers.");
  return false;
}

function loadJavascriptDependencies() {
  loadJavascript([
    #ifdef PRODUCTION
    "all.min.js"
    #else
    "rts.js",
    "lib.js",
    "out.js",
    "runmain.js"
    #endif
  ],10,10);
}

function loadEstuary() {
  var x;
  if(!checkForAudioWorklets())return;
  if(!checkForWebGL())return;
  loadJavascriptDependencies();
}

loadEstuary();
  </script>
</body>
</html>
