body {
	background: linear-gradient(white, black, white);;
	color: black;
	height: 100%;
	margin: 0;
	font-family: sans;
  font-size: 200%;
}

input {
	background-color: whitesmoke;
	color: black;
	margin: 1px;

}


textarea {
	background-color: whitesmoke;
	color: black;
	font-size: 200%;

	}

button {
	background-color: hsl(0,0%,20%);
	color: white;
	border: none;
	border-radius: 4px;
}

.estuary { /* the entire interface, contains .header .page and .footer */

}

.header { /* the header area containing logo, webDirt, pageMenu and hintArea */
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.page { /* contains the interface for programming on menu selected in pageMenu */
	border: 1px solid;
	border-radius: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.footer { /* the header area containing logo, webDirt, pageMenu and hintArea */
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.logo {
	display: inline-block;
}

.server {
	display: inline-block;
}

.webDirt { /* webDirt status area in top right of header */
	display: inline-block;
	float: right;
	/* width: 49%; */
}

.webDirtMute {
	float: right;
	font-size: 60%;
}


.textWidgetTextArea {
	width: 100%;
	border: none;
	font-size: 100%;
}

.webSocketTextInputs {
	border: none;
}

.webSocketButtons {
	display: inline;
	margin-right: 5px;
}

.logo { /* logo in top left of header area */
	display: inline-block;
	width: 50%;
}



.pageMenu { /* contains page menu in bottom left of header */
	display: inline-block;
	width: 50%;
}

.hintArea { /* hint area in bottom right of header */
	display: inline-block;
	width: 49%;
}



.chatMessage {
        display: block;
}

.whiteSpaceAdd { /* possibly a temporary class... */
	white-space: pre-wrap;
	display: inline-block;
}

.whiteSpaceClickable { /* possibly a temporary class... */
	white-space: pre-wrap;
	display: inline-block;
}

.twoStackedPatternsLeft { /* for one of the two divs in the two stacked patterns page */
	display: inline-block;
	vertical-align: top;
	border-right: 1px solid black;
	width: 50%;
}

.twoStackedPatternsRight { /* for one of the two divs in the two stacked patterns page */
	display: inline-block;
	vertical-align: top;
	width: 49%;
}

.eightTopL {
	border-right: 1px solid hsl(0,0%,10%);
	border-bottom: 1px solid hsl(0,0%,10%);
	height: 215px;
	padding: 5px;
	display: inline-block;
	vertical-align: top;
	width: 48%;
}

.eightTopR {
	border-left: 1px solid hsl(0,0%,10%);
	border-bottom: 1px solid hsl(0,0%,10%);
 	height: 215px;
	padding: 5px;
	display: inline-block;
	vertical-align: top;
	width: 48%;
}

.eightMiddleL {
	border-bottom: 1px solid hsl(0,0%,10%);
	border-right: 1px solid hsl(0,0%,10%);
	/* height: 125px; */
	padding: 5px;
	display: inline-block;
	vertical-align: top;
	width: 48%;
}

.eightMiddleR {
	border-bottom: 1px solid hsl(0,0%,10%);
	border-left: 1px solid hsl(0,0%,10%);
 	/* height: 125px; */
	padding: 5px;
	display: inline-block;
	vertical-align: top;
	width: 48%;
}

.eightBottomL {
	border-right: 1px solid hsl(0,0%,10%);
	height: 215px;
	padding: 5px;
	display: inline-block;
	vertical-align: top;
	width: 48%;
}

.eightBottomR {
	border-left: 1px solid hsl(0,0%,10%);
 	height: 215px;
	padding: 5px;
	display: inline-block;
	vertical-align: top;
	width: 48%;
}

.paddedText {
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;


}

.textPatternChain {
	width: 100%;
}

.labelAndTextPattern {
	width: 100%;
	display: inline-flex;
	margin: 0px;
	padding: 0px;
}

.labelWidgetDiv {
	width: 100%;
	display: inline-flex;
}


.labelWidgetTextInput {
	flex:1;
	color: black;
	border: none;
}

.textInputLabel {
	width: 4em;
	font-size: 100%;
	font-weight: normal;
	vertical-align: bottom;
	padding: 0px;
	margin: 0px;
}

.textInputToEndOfLine {
	flex: 1;
	vertical-align: middle;
	font-size: 100%;
	font-weight: normal;
	color: black;
	border: none;
	padding: 0px;
	margin: 0px;
}


/*ex. each 'pattern' in ICLCfixed (Sound,End, Up,Vowel) is enclosed in one of these divs*/
.singlePatternDiv {

}

/*ex. the div that 'Sound' is written in, in ICLCFixed)*/
.singlePatternDiv-label{
	font-size:100%;
	margin:5px;
	display:inline-block
}

/*ex. the table wrapping all Patterns in ICOAH (each pattern is its own row))*/
.multiPatternTable{
	cellspacing:0
}

/*ex. each row in ICOAH patterns)*/
.multiPatternTable-tr{
	vertical-align:center;
}

/*ex. each td in ICOAH patterns)*/
.multiPatternTable-td{
 	font-size:100%;
 	margin:5px
}




/*
--------------------------------------------------------------------
							GENERAL PATTERN
--------------------------------------------------------------------
*/

.atomPopup{
	/*border: 1px solid black; */
	position: relative;
	display: inline-block;
}

.atomPopupInput {
	border: none;
}
.atomPopupInputMouseOver{
	border:none;
	background-color: rgba(50,50,50,60);
}

/*ex. ICLCFixed, hit [] on any widget - div wrapped in red border*/
.generalPattern-group{
	/*border: 1pt solid red;*/
	display:inline-block;
}

/*ex. hit [,,] on any widget in ICLC Fixed*/
.generalPattern-layer{
	/*border: 2pt solid blue;*/
	display:inline-block
}

 /*(ex. ICLCFixed, the sound widget (everything wrapped in red))*/
.generalPattern-atom{
	/*border: 1pt solid red;*/
	display:inline-block;
}


/*
***************************************************************************************************
For aGLNumberWidget_____ see any pattern that takes a list of Numbers as input (for example 'speed' or 'crush') in iclcStackedPattern
*/

/*Styles the table*/
.aGLNumberWidgetTable{
	display:inline-table;
	background-color: hsl(0,0%,10%);
	color: lightgreen;
	width:100pt;
	border-spacing:5px;
	border:2pt solid black
}

/*Styles the td element that contains the textfield for the value*/
.aGLNumberWidgetTable-textFieldtd{
	width:45px;
}


/* Styles the td that contains the '  -  ' (delete) button in widgets that take doubles*/
.aGLNumberWidgetTable-deletetd{
	width:45px;
	text-align:center;
	background-color: hsl(0,0%,10%);
	color: lightgreen;
	border: 1pt solid black
}

/*Styles the td that contains the group [] button in double widgets*/
.aGLNumberWidgetTable-grouptd{
	text-align:center;
	background-color: hsl(0,0%,10%);
	color: lightgreen;
	border: 1pt solid black
}

/*Styles the td that contains the layer [,,] button in double widgets*/
.aGLNumberWidgetTable-layertd{
	text-align:center;
	background-color: hsl(0,0%,10%);
	color: lightgreen;
	border: 1pt solid black
}




/*
***************************************************************************************************
For aGLStringWidget_____ see any pattern that takes a list of Strings as input (for example 's') in iclcStackedPattern
*/

/* styles the 'Table' containing widgets that take strings (ex. ICLCText->s pattern, green widgets. Or ICLC Stacked -> Vowel)*/
.aGLStringWidgetTable{
	display:inline-table;
	background-color: hsl(0,0%,10%);
	color: lightgreen;
	width:130pt;
	border-spacing:5px;
}

/*Styles the td containing the text box in */
.aGLStringWidgetTable-textFieldtd{
}



/* Styles the td that contains the '  -  ' (delete) button in widgets that take doubles*/
.aGLStringWidgetTable-deletetd{
	width:45px;
	text-align:center;
	background-color: hsl(0,0%,10%);
	color: lightgreen;
}

/*Styles the td that contains the group [] button in double widgets*/
.aGLStringWidgetTable-grouptd{
	text-align:center;
	background-color: hsl(0,0%,10%);
	color: lightgreen;
}

/*Styles the td that contains the layer [,,] button in double widgets*/
.aGLStringWidgetTable-layertd{
	text-align:center;
	background-color: hsl(0,0%,10%);
	color: lightgreen;
}


/* See ICOAH Vowel pattern. This styles the td containing the Button that can be clicked on to cycle between different vowels */
.clickListtd{
	width:60px;
	text-align:center;
	background-color: hsl(0,0%,10%);
	color: lightgreen;
}


/*
In iclc stacked patterns -> 's' pattern -> see the check box in the green widget...
the repDivWidget includes: the * and / with the check boxes, and the textfield
to the right of them
*/
.repDivTable{
	height:20px;
}

.repOrDiv{
	position: relative;
	display: inline-block;
}
.repDivSpan{
	white-space: pre
}
/* for the text input */
.repOrDivInput {
	width:25px;
	border:none;
}

table {
	border: none;
}

tr {
	border: none;
}

td {
	border: none;
}

.countWidgetTable{
	display: inline-table;
	background-color: hsl(0,0%,10%);
	color: lightgreen;
	width:100pt;
	border-spacing:5px;
}

/* The td where the widgets value is printed/displayed*/
.countWidgetTable-numbertd{
	text-align:center
}

/* The 'Ã¢â€“Â²' arrow td */
.countWidgetTable-upArrowtd{
	text-align:center;
	background-color: hsl(0,0%,10%);
	color: lightgreen;
}

/* The 'Ã¢â€“Â¼' arrow td */
.countWidgetTable-downArrowtd{
	text-align:center;
	background-color: hsl(0,0%,10%);
	color: lightgreen;
}

/* The '-' (delete) arrow td */
.countWidgetTable-deletetd{
	text-align:center;
	background-color: hsl(0,0%,10%);
	color: lightgreen;
}


.doubleSliderTable{
	margin:5px;
	display:inline-table;
	background-color: hsl(0,0%,10%);
	color: lightgreen;
	width:10%;
	border-spacing:5px;
	border: 2pt solid black
}

/*
--------------------------------------------------------------------
							Transformed Patterns
--------------------------------------------------------------------
*/
.patternTransformerWidget{
	position: relative;
	display: inline-block;
}


.popupSpecificPatternWidget{
	/*border: 1px solid black; */
	position: relative;
	display: inline-block;
}


/*
--------------------------------------------------------------------
							Stacked Patterns
--------------------------------------------------------------------
*/

.stackedPatternTable{
	position: relative;
	height: 90%;
	width:90%;
	border: 1px solid black;
}

.stackedPatternTable-tr{
/*	border: 1px solid grey; */
}

.stackedPatternTable-td{
	/* border: 1px solid grey; */
	vertical-align: top;
}



/*
--------------------------------------------------------------------
							Miscelaneous
--------------------------------------------------------------------
*/


/* The div wrapping popupMenus */
/* The div wrapping popupMenus */
.popupMenu{
	top: 105%;
	left: 0px;
	background-color:hsl(0,0%,10%);
	border: 2pt solid hsl(0,0%,10%);
	position: absolute;
	z-index: 1;
}


/*ex. hit [] - see '+' buttons between widgets*/
.addButton{
	background-color: hsl(0,0%,10%);
	color: lightgreen;
	display:inline-block
}


/*ex. hit [,,] - the vertical buttons*/
.addButton-vertical{
	text-align:center;
	display:inline-table;
	max-width:30px;
	background-color: hsl(0,0%,10%);
	color: lightgreen;
	height:30px;
	vertical-align:middle
}


/* Styles the delete buttons of different patterns in ICLC text widget for example */
/* go to ICLC Text, and make a new widget*/
.patternDeleteButton{
	background-color: hsl(0,0%,10%);
	color: lightgreen;
}

.terminal {
}

.terminalHeader {
	display: flex;
	flex-direction: row;
}

.terminalInput {
	flex-grow: 1;
}

.ensembleHeader {
	display: flex;
	flex-direction: row;
}

.ensembleName {
	margin-top: 1px;
	margin-right: 1em;
}

.ensembleHandle {
  margin-right: 1em;
	border: none;
}

.ensemblePassword {
  margin-right: 1em;
	border: none;
}

.ensembleTempo {
  margin-right: 1em;
	border: none;
}
