/*
--------------------------------------------------------------------
							General setup
--------------------------------------------------------------------
*/

@font-face {
   font-family: estuaryFont;
   src: url(../fonts/Estuary.otf);
}

@font-face {
   font-family: estuary-icons;
   src: url(../icons/estuary-icons.otf);
}

.canvas-or-svg-display {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	pointer-events: none;
}

/* modifies the help view (source)*/
.languageHelp {
  font-size: 70%;
  overflow:scroll;
  padding-right: 1.8em;
  height:100%;
  max-height: 55px
}

.languageHelp::-webkit-scrollbar  {
    width: 0px;  /* remove scrollbar space */
    height: 0px;
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* source  */
.estuary { /* the entire interface, contains .header .page and .footer */
}


.btn {
	cursor: pointer;
}

/* source  */
.header { /* the header area containing logo, webDirt, pageMenu and hintArea */
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 0.5em;
  font-family: estuaryFont;

  /* Force the browser to try it's best to float properly on overflow.
     When the window doesn't fit the entire header, this ensures that moving
     the controls to the next line doesn't leak out of it's parent container
     preventing interation with it. */
  overflow: hidden;
}

select.header-dropdown-and-checkbox {
	margin-left: 0.5em;
	vertical-align: middle;
	cursor: pointer;
}

/* source  */
.peak{
  float: right;
	font-size: 80%;
}

/* source  */
.server {
  position: relative;
  top: 1.25em;
  left: 2em;
  margin-left: 0.5em;
  padding-left: 0.5em;
  margin-bottom: 0.6em;
}

/*
--------------------------------------------------------------------
							CONFIGURATION
--------------------------------------------------------------------
*/

.config-toolbar {
	font-size: 0.75em;
	float: right;
	display: block;
}

.config-entry {
	border-right: 1px solid;
	padding: 0.25em 0.5em;
	display: inline-block;
}

.config-entry:last-child {
	border-right: none;
}

/* contains the navigation buttons on the homepage (source)*/
.page {
	position: relative; /* note that relative positioning with 0x0 is required here for SVG display */
	left: 0px;
	top: 0px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom:0.25em;
}

.footer {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.splash-container { /*contains the four buttons in the home page  (source) */
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}

.splash-margin {/*sets the padding between the home-page buttons (source)*/
	min-width: 50%;
	box-sizing: border-box;
	padding: 0.4em;
}

.splash-panel {/*contains the tutorial, solo and collaboration buttons (source)*/
	font-family: estuaryFont;
	border: 0.25em solid;
	border-radius: 4px;
	padding: 0.5em;
	text-align: center;
	height: 100%;
	box-sizing: border-box;
	max-height: 16em;
	display: flex;
	flex-direction: column;
}

.splash-panel > img {
	/* A trick to get the images to behave in firefox as they do in chrome, they "flex" to determine the size  (source)*/
	min-width: 0;
	min-height: 0;
}

/* modifies the border of the homepage buttons when hovering on */
.splash-panel:hover {
	border: 0.5em solid;
}

.splash-title { /*contains the title "estuary" on the homepage  (source)*/
	display: flex;
	margin-bottom: 1%;
	margin: auto;
	font-size: calc(16px + 1.5vw); /* scales a bit nicer with the viewport */
}

.splash-icon-container {
		display: flex;
		width: 100%;
		height: 100%;
		max-width: 16em; /* Taken from .splash-panel */
		margin: auto; /* centered */
		min-height: 0; /* Fixes flex stretching for underspecified boxes to be the flex'd height rather than parent height. */
}

.splash-icon {
	font-family: estuary-icons;
	width:100%;
	font-size: 13em;
}

.splash-icon > canvas {
    max-width: 100%;
    max-height: 100%;
    /* only clicking the icon when it is in place (over the panel) should
       trigger the event for the panel, not during the animation. */
    pointer-events: none;
  }

/*contains the about text (source)*/
.aboutEstuaryParagraph {
	text-justify: auto;
	text-overflow: auto;
	padding: 0.5em;
}

.webSocketButtons {/*contains the "send" button and "terminal/chat" label (source)*/
	display: inline;
	margin-right: 5px;
}

/*modifies the chat messages (source)*/
.chatMessage { display: block;}

.translationDNEWidget { /*source*/
	text-align: center;
	color:yellow;
	margin:auto;
	width: 50%;
	border-radius: 5pt;
	border: 1pt solid rgb(229, 229, 0);
	background: rgba(229,229,0,0.5)
}

.whiteSpaceAdd { white-space: pre-wrap;
   display: inline-block;
}

.twoStackedPatternsLeft { /* for one of the two divs in the two stacked patterns page (source)*/
	display: inline-block;
	vertical-align: top;
	border-right: 1px solid black;
	width: 50%;
}

.twoStackedPatternsRight { /* for one of the two divs in the two stacked patterns page (source)*/
	display: inline-block;
	vertical-align: top;
	width: 49%;
}

.divView-bottom-or-top-left {/*modifies the topLeft view*/
	position: relative; /* note that relative positioning with 0x0 is required here for SVG display */
	left: 0px;
	top: 0px;
	border-right: 1px solid hsl(0,0%,10%);
	border-bottom: 1px solid hsl(0,0%,10%);
	height: 215px;
	padding: 5px;
	display: inline-block;
	vertical-align: top;
	width: 48%;
}

.divView-bottom-or-top-right {/*modifies the top right view*/
	position: relative; /* note that relative positioning with 0x0 is required here for SVG display */
	left: 0px;
	top: 0px;
	border-left: 1px solid hsl(0,0%,10%);
	border-bottom: 1px solid hsl(0,0%,10%);
 	height: 215px;
	padding: 5px;
	display: inline-block;
	vertical-align: top;
	width: 48%;
}

.eightMiddleL {/*modifies the middle left view*/
	position: relative; /* note that relative positioning with 0x0 is required here for SVG display */
	left: 0px;
	top: 0px;
	border-bottom: 1px solid hsl(0,0%,10%);
	border-right: 1px solid hsl(0,0%,10%);
	padding: 5px;
	display: inline-block;
	vertical-align: top;
	width: 48%;
}

.eightMiddleR {/*modifies the middle right view*/
	position: relative; /* note that relative positioning with 0x0 is required here for SVG display */
	left: 0px;
	top: 0px;
	border-bottom: 1px solid hsl(0,0%,10%);
	border-left: 1px solid hsl(0,0%,10%);
	padding: 5px;
	display: inline-block;
	vertical-align: top;
	width: 48%;
}

.fullRowTopOrBottom {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	padding: 5px;
	display: inline-block;
	vertical-align: top;
}

.fullRowMiddle {
	position: relative;
	left: 0px;
	top: 0px;
	border-top: 1px solid hsl(0,0%,10%);
	border-bottom: 1px solid hsl(0,0%,10%);
	width: 100%;
	padding: 5px;
	display: inline-block;
	vertical-align: top;
}

/*contains the elements parser selector, name-tag area, textarea, eval button and info button (source) */
.textPatternChain {
	width: 100%;
}

/* coding textarea */
.labelAndTextPattern {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.coding-textarea {
	width: 100%;
	height: 100%;
}

/* contains the name-tag textarea */
.labelWidgetDiv {
	width: 100%;
	display: inline-flex;
}

/*contains the "eval" button (should change name)  */
.textInputLabel {
	font-size: 100%;
	font-weight: normal;
	vertical-align: bottom;
	padding: 0px;
	margin: 0px;
	display: inline;
}

/* contains the reference button  */
.referenceButton {
	margin-left: 1em;
	margin-right: 1em;
	float: right;
}

/*contains the tempo and coding textareas  */

.textInputToEndOfLine {
	font-weight: normal;
	padding: 0px;
	margin-top: 0.5em;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	height: auto;
	resize: none;
	overflow: hidden;
}


/*ex. the div that 'Sound' is written in, in ICLCFixed)*/
.singlePatternDiv-label{
	font-size:100%;
	margin:5px;
	display:inline-block;
}

/*ex. each td in ICOAH patterns)*/
.multiPatternTable-td{
 	font-size:100%;
 	margin:5px
}

/*
______________________________
         Sequencer classes
______________________________
*/
.sequencerRow .delete{
	flex-grow: 1;
}

.sequencerRow .delete button {
	top:5%;
	width: 100%;
	color: red;
	position: relative;
	height: 90%;
}

.sequencer{
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	padding:2%;
	flex-grow: 1;
	height: 98%;
	margin: 1%;
}

.sequencerRow{
	display: flex;
	width: 100%;
	flex-grow: 1;
	min-height: 0px;

}

.sequencerTextInputTd{
	width: 20%;
}

.sequencer-textarea input {
	width: 90%;
	left:5%;
	display: block;
	height: 90%;
	position: relative;
	box-sizing: border-box;
	top:5%;
	border-radius: 5px;
	text-align: center;
}

.sequencerButton{
	flex-grow: 1;
	width:20px;
	border:1pt solid grey;
	border-radius: 5px;
}

.sequencerButton:hover{
	background-color: rgba(255,255,255,0.25);
}

.activated{
	background-color: rgba(0,255,0,0.3);
}

.activated:hover{
	background-color: rgba(0,255,0,0.4);
}

/*
______________________________
         Tutorial classes
______________________________
*/

.tutorial{
	padding:2%;
}

.tutorial .panel{
	background-color: rgba(40,40,40);
	border-radius: 5px;
	margin:1%;
	padding:1%;
}
.tutorial .panel textarea{
	background-color: black;
	margin: 1%;
	padding:1%;
	display: block;
	width: 96%;
	border-radius: 5px;
}

.title{
	font-size: 18pt;
	padding:1%;
	text-align: center;
}

/*
--------------------------------------------------------------------
							GENERAL PATTERN
--------------------------------------------------------------------
*/
/* modifies structured editor */
.atomPopup{
	border: 1px solid black;
	position: relative;
	display: inline-block;
}

.atomPopupInput, .atomPopupInputMouseOver {
	border: none;
}

/*ex. ICLCFixed, hit [] on any widget - div wrapped in red border*/
.generalPattern-group-or-layer-or-atom{
	display:inline-block;
}

/*
***************************************************************************************************
For aGLStringWidget_____ see any pattern that takes a list of Strings as input (for example 's') in iclcStackedPattern
*/

/* styles the 'Table' containing widgets that take strings (ex. ICLCText->s pattern, green widgets. Or ICLC Stacked -> Vowel)*/
.aGLStringWidgetTable{
	display:inline-table;
	width:130pt;
	border-spacing:5px;
}

/*
In iclc stacked patterns -> 's' pattern -> see the check box in the green widget...
the repDivWidget includes: the * and / with the check boxes, and the textfield
to the right of them
*/
.repDivTable{
	height:20px;
}

.repOrDiv{
	position: relative;
	display: inline-block;
}
.repDivSpan{
	white-space: pre
}
/* for the text input */
.repOrDivInput {
	width:25px;
	border:none;
}

table, tr, td {border: none;}

.countWidgetTable{
	display: inline-table;
	background-color: hsl(0,0%,10%);
	color: lightgreen;
	width:100pt;
	border-spacing:5px;
}


/*
--------------------------------------------------------------------
							Transformed Patterns
--------------------------------------------------------------------
*/
.patternTransformerWidget-or-popupSpecificPatternWidget{
	position: relative;
	display: inline-block;
}

/*
--------------------------------------------------------------------
							Stacked Patterns
--------------------------------------------------------------------
*/

.stackedPatternTable{
	position: relative;
	height: 90%;
	width:90%;
	border: 1px solid black;
}

.stackedPatternTable-tr{
}

.stackedPatternTable-td{
	vertical-align: top;
}

/*
--------------------------------------------------------------------
							Miscelaneous
--------------------------------------------------------------------
*/


/* The div wrapping popupMenus */
.popupMenu{
	top: 105%;
	left: 0px;
	position: absolute;
	z-index: 1;
}

/*ex. hit [] - see '+' buttons between widgets*/
.addButton{
	display:inline-block
}

/*ex. hit [,,] - the vertical buttons*/
.addButton-vertical{
	text-align:center;
	display:inline-table;
	max-width:30px;
	color: lightgreen;
	height:30px;
	vertical-align:middle
}

.terminal{}

.terminalHeader {
	width: 60%;
	display: flex;
	flex-direction: row;
	font-family: estuaryFont;
	font-size: 75%;
}

.terminalInput {
	flex-grow: 1;
}

.ensembleHeader {
	display: flex;
	flex-direction: row;
	font-family: estuaryFont;
	font-size: 90%;
}

.ensembleName {
	margin-top: 1px;
	margin-right: 1em;
}

.ensembleTempo {
	display: flex;
	border: none;
	width: 25%;
}

.ensembleHandle, .ensemblePassword {
	margin-right: 1em;
	border: none;
	background-color: transparent;
	color: 	 rgb(98, 221, 115);
}

.ensembleTempo textarea{
	font-family: estuaryFont;
	font-size: 75%;
  margin-right: 1em;
	position: relative;
	top: 0.25em;
	border: none;
	max-width:13em;
	text-align: center;
}

/*
--------------------------------------------------------------------
							help files
--------------------------------------------------------------------
*/
.helpWrapper {
	display:flex;
	font-size: 90%;
}

.refExampleButton button {
	background-color: transparent;
	width:100%;
	min-width: 80px;
  font-size: 100%;
	margin-bottom: 7%;
}

.refExampleButton button:hover {
	cursor: help;
}

.about {
	text-align: center;
	margin-bottom: 1%;
	font-size: 90%;
}

.exampleText {
	padding: 0.125em;
	  width: 100%;
	  font-size: 90%;
	  border-radius: 5px;
    box-shadow: 0px 0.25px 4px 0.025px grey;
    margin-bottom: auto;
}

.listenButton button {
	margin-left: 20%;
	font-size:  95%;
}

input{
	background-color:transparent;
		color: rgb(98, 221, 115);
}

select{
		background-color:transparent;
		color: rgb(98, 221, 115);
}
